.categoriesOrange {
	background-color: #FD7E01;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesGreen {
	background-color: #54B501;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesYellow {
	background-color: #EDCD10;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesCyan {
	background-color: #0BB;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesBlue {
	background-color: #0873F0;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesPurple {
	background-color: #8842E4;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesRed {
	background-color: #E71855;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesDarkGreen {
	background-color: #008554;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}

.categoriesDarkBlue {
	background-color: #1C3088;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:10px;
	padding-bottom:10px;
}