body {
	background-color: #343A40;
}

.flex-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.char-base-type {
	height: 120px;
	width: 120px;
}

.char-base-type-margin {
	margin-top:50px;
	margin-left:50px;
}

.card-type {
	height: 60px;
	width: 60px;
}

.card-type-margin {
	margin-left:140px;
	margin-top: -150px;
}

.card-thumb {
	height: 150px;
	width: 150px;
}

.card-thumb-margin {
	margin-top: -60px;
	margin-left:35px;
}

.card-rarity {
	height: 75px;
	width: 75px;
}

.card-rarity-margin {
	margin-left:25px;
	margin-top:-70px;
}